*{
   background-color: rgb(12, 12, 12);
}
img{
    margin-left: 50px;
    margin-top: 30px;
}
#ji
{
    margin-left: 200px;
    margin-top: -50px;
}
#ii{
    margin-left: 300px;
    margin-top: -45px;
}
#hi{
    margin-left: 420px;
    margin-top: -45px;
}
#wi{
    margin-left: 540px;
    margin-top: -45px;
}
#ti{
    margin-left: 740px;
    margin-top: -45px;
}
#zi{
    margin-left: 840px;
    margin-top: -45px;
}
#sh{
    width: 1300px;
    height: 200px;
}
#pp{
    margin-top: 40px;
    margin-left: 50px;
}
#er{
    margin-left: 50px;
}
#lll{
    margin-left: 920px;
    margin-top: -35px;
}
#twt{
    margin-left: 220px;
    margin-top: -35px;
}
#wer{
    margin-left: 320px;
    margin-top: -39px;
}
#tgb{
    margin-left: 50px;
}