body{
    background-image: url(./hnd2\).jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
p{
    color: rgb(255, 229, 36);
    font-weight: 400;
}
h2  {
    color: blue;
    font-style: oblique;
    font-weight: 600;
}