*{
    background-color: blanchedalmond;
}
#hi{
background-color: darkorchid;
width: 200px;
height: 200px;
margin-left: 600px;
}
#ji{
    background-color: rgb(16, 193, 34);
    width: 200px;
    height: 200px;
    margin-left: 400px;
    }
    #sh{
        background-color: rgb(195, 91, 22);
        width: 200px;
        height: 200px;
        margin-left: 600px;
        margin-top: -200px;
        }
        #an{
            background-color: rgb(24, 11, 169);
            width: 200px;
            height: 200px;
            margin-left: 800px;
            margin-top: -200px;
            }
            #ri{
                background-color: cornflowerblue;
                width: 200px;
                height: 200px;
                margin-left: 200px;
                margin-top: 
                }
                #za{
                    background-color: rgb(180, 180, 180);
                    width: 200px;
                    height: 200px;
                    margin-left: 400px;
                    margin-top: -200px;
                    }
                    #ki{
                        background-color: rgb(238, 83, 207);
                        width: 200px;
                        height: 200px;
                        margin-left: 600px;
                        margin-top: -200px;
                        }
                            
                        #lh{
                            background-color: rgb(219, 48, 48);
                            width: 200px;
                            height: 200px;
                            margin-left: 800px;
                            margin-top: -200px;
                            }
                            #nv{
                                background-color: rgb(109, 22, 92);
                                width: 200px;
                                height: 200px;
                                margin-left: 1000px;
                                margin-top: -200px;
                                }
                                #ka{
                                    background-color: rgb(217, 227, 73);
                                    width: 200px;
                                    height: 200px;
                                    margin-left: 0px;
                                    
                                    }
                                    #yy{
                                        background-color: rgb(134, 28, 98);
                                        width: 200px;
                                        height: 200px;
                                        margin-left: 200px;
                                        margin-top: -200px;
                                        }
                                                   
                                        #ee{
                                            background-color: rgb(191, 22, 22);
                                            width: 200px;
                                            height: 200px;
                                            margin-left: 400px;
                                            margin-top: -200px;
                                            }
                                            #aa{
                                                background-color: rgb(41, 186, 211);
                                                width: 200px;
                                                height: 200px;
                                                margin-left: 600px;
                                                margin-top: -200px;
                                                }
                                                #gg{
                                                    background-color: rgb(36, 195, 68);
                                                    width: 200px;
                                                    height: 200px;
                                                    margin-left: 800px;
                                                    margin-top: -200px;
                                                    }
                                                    #xx{
                                                        background-color: rgb(55, 177, 218);
                                                        width: 200px;
                                                        height: 200px;
                                                        margin-left: 1000px;
                                                        margin-top: -200px;
                                                        }
                                                        #zz{
                                                            background-color: rgb(180, 35, 35);
                                                            width: 200px;
                                                            height: 200px;
                                                            margin-left: 1200px;
                                                            margin-top: -200px;
                                                            }
