*{
    background-color:#F7DCB9;
}
.basheer{
    background-color: #8D493A;
    width: 100%;
    height: 200px;
font-size: xxx-large;
    text-decoration-line: unset;
       margin-top: 0px;
    color: #F7DCB9;
       text-align: center;
       font-family: fantasy;
   
}
#bash{
    margin-left: -1000px;
    float: inline-end;
}
   
.div{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left;
   
   
}
#vk1{
    width: 100%;
    height: 280px;
}
.faa
{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left; 
      border:solid;
}
#vk3{
    width: 100%;
    height: 280px;
}
.iaa
{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left;  
     border:solid;
}
#vk4{
 
    width: 100%;
    height: 280px;
}

.tss
{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left;  
     border:solid;
}
#vk5{
  
    width: 100%;
    height: 280px;
}
.eee
{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left;  
     border:solid;
}
#vk6{
  
    width: 100%;
    height: 280px;
}
.xsx
{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left; 
    border: solid;
}
#vk7{
  
    width: 100%;
    height: 280px;
}
.aww
{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left; 
    border: solid;
}
#vk8{
  
    width: 100%;
    height: 280px;
}
.eqq
{
    background-color: #8D493A;
    width: 250px;
    height: 320px;
    margin-top: 200px;
    margin-left: 100px;
    color: #F7DCB9;
    text-align: center;
    float: left; 
    border: solid;
}
#vk9{
  
    width: 100%;
    height: 280px;
}