*{
    background-color: darkseagreen;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin:  0px  20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jamia{
    display: flex;
    justify-content: space-between;

}